<!DOCTYPE html>
<html lang="en" ng-app="myPizza">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/myPizzaCtrl.js"></script>
</head>
<body>
<section class="container" ng-controller="myPizzaCtrl">
    <div class="row">
        <h1 class="text-center" ng-bind="name"></h1>
    </div>
    <div class="row">
        <div class="form-inline text-center">
            <div class="form-group pull-left">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
            <form name="formClient">
                <div ng-class="{ 'has-error' : formClient.nameClient.$invalid && formClient.nameClient.$dirty, 'has-success' : formClient.nameClient.$valid, 'form-group' : true }">
                    <input type="text" ng-model="client.name" name="nameClient" ng-required="true" class="form-control"
                           placeholder="Name">
                </div>
                <div ng-class="{ 'has-error' : formClient.telClient.$invalid && formClient.telClient.$dirty, 'has-success' : formClient.telClient.$valid, 'form-group' : true }">
                    <input type="text" ng-model="client.tel" name="telClient" ng-required="true" class="form-control"
                           ng-pattern="/^\d{4,5}-\d{4}$/" placeholder="Telephone ####-####">
                </div>
                <div ng-class="{ 'has-error' : formClient.addressClient.$invalid && formClient.addressClient.$dirty, 'has-success' : formClient.addressClient.$valid, 'form-group' : true }">
                    <input type="text" ng-model="client.address" name="addressClient" ng-required="true"
                           class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                    <button ng-hide="editing" ng-click="add(client)" ng-disabled="formClient.$invalid"
                            class="btn btn-success">Add
                    </button>
                    <button ng-show="editing" ng-click="save(client)" ng-disabled="formClient.$invalid"
                            class="btn btn-primary">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-click="orderBy('name')" style="cursor: pointer"><i
                        ng-class="{'glyphicon':true, 'glyphicon-sort':true, 'glyphicon-sort-by-alphabet':!reverse && order == 'name', 'glyphicon-sort-by-alphabet-alt':reverse && order == 'name',}"></i>Name
                </th>
                <th ng-click="orderBy('tel')" style="cursor: pointer"><i
                        ng-class="{'glyphicon':true, 'glyphicon-sort':true, 'glyphicon-sort-by-alphabet':!reverse && order == 'tel', 'glyphicon-sort-by-alphabet-alt':reverse && order == 'tel',}"></i>Tel
                </th>
                <th ng-click="orderBy('address')" style="cursor: pointer"><i
                        ng-class="{'glyphicon':true, 'glyphicon-sort':true, 'glyphicon-sort-by-alphabet':!reverse && order == 'address', 'glyphicon-sort-by-alphabet-alt':reverse && order == 'address',}"></i>Address
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="client in clients | filter:search | orderBy:order:reverse">
                <td>{{client.name}}</td>
                <td>{{client.tel}}</td>
                <td>{{client.address}}</td>
                <td>
                    <button ng-click="edit(client)" class="btn btn-default">Edit</button>
                    <button ng-click="destroy(client)" class="btn btn-danger">Destroy</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<footer ng-include="'view/footer.html'"></footer>
</body>
</html>